body {
  color: #333;
  background: #f1f1f1;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI",
               Helvetica, Arial, sans-serif;
}

a {
  color: hsl(133, 52%, 40%);
}

a:hover {
  color: hsl(133, 52%, 50%);
}

.container {
  margin: 0 1rem;
}

.channels {
  margin: 0 auto;
  max-width: 60rem;
}

.title {
  margin: 0 0 1rem;
  padding: 1rem 0;
  font-size: 1.5rem;
  border-bottom: 1px solid #ccc;
  color: #333;
}

.channel {
  margin-bottom: 1rem;
  background: #fff;
  border-radius: 3px;
}

.entry-head {
  padding: 1rem;
  border-bottom: 1px solid #eee;
}

.neighborhood {
  margin-top: 0.4rem;
  font-size: 0.8rem;
  font-weight: normal;
  color: #555;
}

.notice {
  padding: 5px;
  color: #fff;
  background: hsl(37, 86%, 51%);
  border-radius: 0.1rem;
  text-align: center;
}

.revised-staff-report,
.staff-report,
.ho-staff-report {
  background-color: hsl(277, 68%, 54%);
}

.hearing {
  background-color: hsl(145, 60%, 45%);
}

.rfr {
  background-color: hsl(208, 60%, 45%);
}

.date {
  margin-top: 0.4rem;
  text-align: center;
  color: #555;
}

.proposal {
  padding: 1rem;
  font-size: 0.9rem;
  line-height: 1.4rem;
}
