{% extends 'layout.html' %}

{% block content %}
<div class="channels">
  <div class="row">
    <div class="column">
      <h2 class="title">Public Notices for Portland, Oregon</h2>
    </div>
  </div>
  {% for entry in channels %}
  <div class="channel">
    <header class="entry-head row">
      <h2 class="column">{{entry.title}}</h2>
      <div class="column-xauto">{{entry.notice}}</div>
    </header>
    <div class="row">
      <div class="column">
        {{ entry.neighborhood }}
      </div>
      <div class="column">
        that
      </div>
    </div>
  </div>
  {% endfor %}
</div>
{% endblock %}
