{% extends 'layout.html' %}

{% block content %}
<div class="channels">
  <div class="row">
    <div class="column">
      <h2 class="title">Public Notices for Portland, Oregon</h2>
    </div>
  </div>
  {% for entry in channels %}
  <div class="channel">
    <header class="entry-head row">
      <h2 class="column">
        <a href="{{entry.link}}">{{entry.title}}</a>
        <div class="neighborhood">{{ entry.neighborhood }}</div>
      </h2>
      <div class="column-xauto">
        {% if entry.notice_class %}
        <div class="{{entry.notice_class}} notice">{{entry.notice}}</div>
        <div class="date">{{entry.posted_at.strftime('%m-%d-%Y')}}</div>
        {% endif %}
      </div>
    </header>
    <div class="row">
      <div class="column">
        <div class="proposal">
          {{ entry.excerpt }}
        </div>
      </div>
      <div class="map-image column">
        <img src="{{ entry.cached_map_image(width=200,height=200,zoom=13,pitch=40,bearing=45)}}">
        <span class="location-info">{{entry.address}}</span>
      </div>
    </div>
  </div>
  {% endfor %}
</div>
{% endblock %}
